@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:ital,wght@0,300;1,500;1,700&display=swap');

:root {
    --bgcolor: #f1f5fd;
    --primary-color: #6f5de7;
    --text-color: #828286;
    --main-text-color: #333333;
}

body {
    background-color: var(--bgcolor);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

.admin-container {
    display: flex;

    .admin-main {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}