.homepage-container {
    position: relative;

    .video-page {
        video {
            width: 100vw;
            position: fixed;
            bottom: 0;
            /* top: 0; */
        }
    }

    header {
        min-width: 100vh;
        width: 100%;
        position: relative;

        .main-hero-container {
            height: 80vh;
            display: flex;

            & h1 {
                text-transform: capitalize;
                font-weight: bolder;
            }

            .main-hero-para {
                font-size: 1.5rem;
                color: var(--text-color);
                margin: 3rem 0 5rem 0;
                font-weight: lighter;
                width: 75%;
            }

            .input-group-text {
                color: #fff;
                background-color: var(--primary-color);
                height: 4rem;
                border-radius: 2rem;
                font-size: 1.8rem;
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    border: 0.1rem solid var(--primary-color);
                    background-color: transparent;
                    color: var(--primary-color);
                    box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
                }
            }
        }
    }
}
