.login-container {
    .login-header {
        justify-content: flex-end;
        align-items: center;
        padding: 2rem;
        width: 85%;
        
        span {
            font-size: 1.6rem;
            margin-right: 1rem;
        }

        button {
            width: 12rem;
            height: 4rem;
            border-radius: 2rem;
            color: #fff;
            background-color: #6f5de7;
            text-transform: capitalize;
            font-size: 1.6rem;

            &:hover {
                background-color: #ccc;
                color: #000;
            }
        }
    }

    .container {
        h1 {
            font-size: 3rem;
            padding: 0.5rem 0;
        }

        p {
            font-size: 1.6rem;
            padding: 1rem 0;
        }
        .card {
            img {
                padding: 1.2rem 0;
            }

            form {
                margin-top: 1.4rem;
                padding: 0 2rem;

                div {
                    padding: 0.8rem 0;

                    label {
                        font-size: 1.8rem;
                        align-items: center;
                        margin-left: 0.5rem;
                        margin-bottom: 1rem;

                        .label-icon {
                            font-size: 2rem;
                            margin-right: 1rem;
                        }
                    }
        
                    input {
                        padding: 1rem;
                        font-size: 1.6rem;
                    }

                    .forgot-password {
                        display: flex;
                        margin: 1.2rem 0;
                        a {
                            font-size: 1.4rem;
                        }
                    }
                    .btn-primary {
                        font-size: 2rem;
                        width: 100%;
                        background-color: #6f5de7;
                        border: none;
                        border-radius: 2rem;
                        padding: 1rem 0;

                        &:hover {
                            background-color: #ccc;
                            color: #000;
                        }  
                    }
                }

                .back-home {
                    font-size: 1.8rem;
                    padding: 2rem 0;
                    cursor: pointer;
                }
            }
        }
    }
}