.admin-container {
    .sidebar-admin {
        .sidebar-wrapper {
            width: 300px;
            height: 100vh;
            top: 0;
            z-index: 10;
            background-color: #fff;
            bottom: 0;
            transition: left 0.5s ease-out;

            .sidebar-header {
                padding: 4rem 2rem 1rem;
                font-size: 2rem;
                font-weight: 700;

                .logo {
                    img {
                        height: 3.2rem;
                        margin-right: 1.2rem;
                        margin-left: 1.2rem;
                    }

                    .logo-title {
                        font-size: 2.2rem;
                        color: #000;
                    }
                }
            }

            .sidebar-menu {
                .menu {
                    .sidebar-title {
                        padding: 0.2rem 1.2rem;
                        margin: 3rem 0 1rem;
                        font-size: 1.4rem;
                        list-style: none;
                        font-weight: 600;
                        color: #25396f;
                    }

                    .active {
                        .sidebar-item {
                            padding: 0.2rem 1.2rem;
                            margin: 1.2rem 0 1rem;
                            list-style: none;
                            width: 90%;
                            height: 3.8rem;
                            position: relative;
                            border-radius: 5px;
    
                            .sidebar-link {
                                background-color: #435ebe;
                                border-radius: 5px;
                                margin-left: 1rem;
                                padding: 0.7rem 1rem;
                                font-size: 1rem;
                                display: flex;
                                align-items: center;
                                border-radius: 0.5rem;
                                transition: all .5s;
                                text-decoration: none;
                                color: #25396f;
                                font-size: 1rem;
    
                                .icon-sidebar {
                                    fill: #fff;
                                    color: #fff;
                                    width: 2.0rem;
                                    height: 1.6rem;
                                    margin: 0 0.2rem;
                                }
    
                                span {
                                    margin-left: 0.8rem;
                                    color: #fff;
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }

                    .sidebar-item {
                        padding: 0.2rem 1.2rem;
                        margin: 1.2rem 0 1rem;
                        list-style: none;
                        height: 3.8rem;
                        width: 90%;
                        position: relative;
                        border-radius: 5px;
    
                        .sidebar-link {
                            border-radius: 5px;
                            margin-left: 1rem;
                            padding: 0.7rem 1rem;
                            font-size: 1rem;
                            display: flex;
                            align-items: center;
                            border-radius: 0.5rem;
                            transition: all .5s;
                            text-decoration: none;
                            color: #25396f;
                            font-size: 1rem;

                            &:hover {
                                background-color: #ccc;
                                transition: all 0.5s ease-in-out;
                            }
                        }
    
                        .icon-sidebar {
                            fill: #25396f;
                            color: #25396f;
                            width: 2.0rem;
                            height: 1.6rem;
                            margin: 0 0.2rem;
                        }
    
                        span {
                            margin-left: 0.8rem;
                            color: #25396f;
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}